---
layout : default
---

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Stefano Oldeman's</title>

</head>
<body>
    <h1>{{page.title}} {% if page.tagline %}<sub>{{page.tagline}}</sub>{% endif %}</h1>

    <div id="big_navigation">
        <h2 style="display:hidden">Navigation</h2>
        <ul>
            <li><a href="#articles">Articles</a></li>
            <li><a href="#projects">Projects</a>
                <ul>
                    <li><a href="/projects/poker">Poker</a></li>
                    <li><a href="/projects/triage">Triage</a>
                    <li><a href="/projects/blogwrapper">blogwrapper</a>
                    <li><a href="/projects/glitch">Glitch</a></li>
                    <li><a href="/projects/solarium">Solarium</a></li>
                </ul>
            </li>
            <li><a href="https://github.com/stefanooldeman">https://github.com/stefanooldeman</a></li>
        </ul>
    </div>

    {{content}}

    <div id="projects">
        <h3>Projects</h3>
        <ul class="direct_links">
            <li><a href="/projects/poker">Poker</a></li>
            <li><a href="/projects/triage">Triage</a>
            <li><a href="/projects/blogwrapper">blogwrapper</a>
            <li><a href="/projects/glitch">Glitch</a></li>
            <li><a href="/projects/solarium">Solarium</a></li>
        </ul>
    </div>

    <div id="footer">
        <address>
            <p>Here a list of sites where you can find me</p>
            <ul>
                <li><a href="https://google.com/profiles/stefano.oldeman">Google profile</a></li>
                <li><a href="https://twitter.com/stefanooldeman">Twitter feed</a></li>
                <li><a href="https://foursquare.com/stefanooldeman/badges/all">My Foursquare badges</a></li>
                <li><a href="http://www.last.fm/user/EarOrgasms">My last.fm</a></li>
                <li><a href="https://forrst.com/people/stefanooldeman">I'm on forrst.com</a></li>
            </ul>
        <address>
    </div>
</body>
</html>

