<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Stefano Oldeman's {% if page.type == 'post' %} posts, {{page.title}} {% else %} {{page.type}} {% endif %}</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="stefano oldeman, stefanooldeman" />
    <link rel="stylesheet" href="{{site.app.media_path}}/css/style{{site.app.minified}}.css?{{site.app.version}}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{site.app.media_path}}/css/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  </head>
  <body>
    <div class="wrapper">
      <header>
      <h1>Stefano Oldeman's {{page.type}}</h1>

        <p class="view">Jump to: <a href="/">index</a>, <a
            href="/about.html">about</a> <small> or <a href="https://github.com/stefanooldeman">view my GitHub</a></small></p>

      </header>

      <section>
        {% if page.type != 'post' %} <h3>{{page.title}}</h3> {% endif %}

        {{ content }}
      </section>
      <footer>
        <p><small>Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script type="text/javascript" src="{{site.app.media_path}}/js/scale.fix.{{site.app.minified}}.js?{{site.app.version}}" charset="utf-8"></script>
    <script type="text/javascript" src="{{site.app.media_path}}/js/main{{site.app.minified}}.js?{{site.app.version}}" charset="utf-8"></script>
    
  </body>
</html>
