<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="stefano oldeman, stefanooldeman" />
    <title>Stefano Oldeman's / {% if page.type == 'post' %} {{page.title}} {% else %} {{page.type}} {% endif %}</title>
    <link rel="stylesheet" href="{{site.app.media_path}}/css/style{{site.app.minified}}.css?{{site.app.version}}" type="text/css" media="all" />
</head>
<body>
    <div id="container">
        <h1>
            <a href="/">Stefano Oldeman's {{page.type}}</a>
            <sub>
                {% if page.type == 'post' %}
                    {{page.title}}
                {% endif %}
            </sub>
        </h1>
        <ul id="menu">
            <li><a href="/about.html">About</a></li>
            <li>
                <form>
                    <input type="search" id="st-search-input" class="st-search-input" placeholder="Search" />
                </form>
                <div id="st-results-container"></div>
            </li>
        </ul>

        {{ content }}
    </div>

    <script type="text/javascript" src="{{site.app.media_path}}/js/main{{site.app.minified}}.js?{{site.app.version}}" charset="utf-8"></script>
</body>
</html>
